body{
	padding: 20px;
	background: url("image 3.jpg") repeat;
}
h1{
	text-align: right;
	font-style : italic;
}
IMG.gl25{
	float:left;
	width:200px;
	height:150px;
	border-radius: 25px;

}
IMG.gl26{
	float:right;
	width:200px;
	height:150px;
	border-radius: 25px;

}
P.vstup{
	text-align: right;
	font-style : italic;
}
p{
line-height: normal;
text-indent: 15px;
font-family:  Arial, sans-serif;
}
h3{
	font-family:  Verdana, sans-serif
}
